:root{
    --clr-orange: #ed7d31;
    --clr-blue: rgb(4, 4, 160);
    --clr-orange-dark:#cc7134;
    --font-main:'Modak', cursive;  
    --clr-grey:rgb(56, 55, 55);
    --clr-darkGrey: rgb(46, 45, 45);
}