.nextPrimeBubble{
    height:10em;
    width:10em;
    border-radius: 50%;
    background-color:var(--clr-orange);
}

.innerbubble{
   padding:1.5em;
}

 .innerbubble h2, h5{
    color:whitesmoke;
 }
 
 #notPrime{
     color:red;
 }

 #nextPrime{
     color:var(--clr-grey);
 }

 #isPrime{
     color:green;
 }
 