.bubbleShape{
    margin-top:1em;
    margin-left: 1em;
    border-radius: 50%;
    background-color:var(--clr-orange);
    width:15em;
    height:15em;
    box-shadow: 0.2em 0.2em 0.2em 0.2em rgb(141, 140, 140);
}

h1{
    padding:1em;
    color:var(--clr-darkGrey);
    font-family: var(--font-main);
    font-weight: bold;
}

